<%- include("header") %>
<section  class="first-section aboutme-body">
  <div class="container">
    <div class="top-container">
      <img class="top-cloud" src="images/cloud.png" alt="">
      <h1 class="aboutme-h1">Hello! I'm Viet Thang</h1>
      <p class="aboutme-heading">Internship / <span class="aboutme-span">Trainee</span> / Fresher</p>
      <img class="bottom-cloud" src="images/cloud.png" alt="">
      <img src="images/mountain.png" alt="">
    </div>
    
    <div class="middle-container">
      <div class="profile">
        <!-- <img src="images/profile.png" alt="my-profile" height = "300px" width="300px"> -->
        <h2 class="aboutme-h2">About me</h2>
        <p>
          On the one hand, I am a result-oriented person, who love challenges and constantly set goals to strive toward. 
          And that is the reason why I love data and figures, which allows me to make decisions. 
          Moreover, I oriented myself to be a supply chain executive, in which field I have had deep research and study. 
          The other me is an outgoing and sociable partner who is always willing to be supportive and sympathetic.
        </p>
      </div>
      <hr>
      <div class="skills">
        <h2 class="aboutme-h2">My Skills</h2>
        <div id="skill-log" class="skill-row">
          <img id="img-log" class="img-skills" src="images\logistics.png" alt="logistics-image" height="225px" width="400px">
          <h3 class="aboutme-h3">Logistics and Supply Chain Management</h3>
          <p>
            Logistics refers specifically to the part of the supply chain that deals with the planning and control of the movement and storage of goods and services from their point of origin to their final destination. Logistics management begins with the raw materials and ends with the delivery of the final product.
          </p>
        </div>
        <div id="skill-da" class="skill-row">
          <img id="img-da" class="img-skills" src="images\computer.png" alt="">
          <h3 class="aboutme-h3">Data Analyst</h3>
          <p>Analytics brings together theory and practice to identify and communicate data-driven insights that allow managers, stakeholders, and other executives in an organization to make more informed decisions. Experienced data analysts consider their work in a larger context, within their organization and in consideration of various external factors. Analysts are also able to account for the competitive environment, internal and external business interests, and the absence of certain data sets in the data-based recommendations that they make to stakeholders.  </p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2 class="aboutme-h2">Get In Touch</h2>
        <div class="cta">
          <iframe src="https://giphy.com/embed/ewh4ipgPw1bBVj4HI5" width="15px" height="15px" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
          <h3 class="aboutme-h3 git-h3">Do not hesitate to connect with me!</h3>
          <iframe src="https://giphy.com/embed/ewh4ipgPw1bBVj4HI5" width="15px" height="15px" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
        </div>
        <p>I am looking for foward to your news about the vacancy. It would be my pleaasure to work with you.</p>
        <a href="contactme/"><button class="btn btn-lg btn-primary">CONTACT ME</button> </a>
      </div>
    </div>
  </div>
</section>


    

  
<%- include("footer") %>
