<%- include("header") %>

<section class="first-section" id="add_success">
  <div class="container">
    <h2>We have recieve your story. Thanks for your sharing!</h2>
    <p></p>
    <a href="/">Back to Homepage!</a>
  </div>
</section>

<%- include("footer") %>