<%- include("header") %>

<section class="first-section" id="contactme">
    <div class="container contactme">
        <p class="back-to-hp"><a href="/">Back to Homepage</a></p>
        <h1>My Contact details</h1>
        <table class="myinfo">
            <tr>
                <td>Email:</td>
                <td>pvthang1700@gmail.com</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>(0832) 166 106</td>
            </tr>
            <tr>
                <td>Facebook:</td>
                <td><a href="https://fb.com/pvt0107">pvt0107</a></td>
            </tr>
        </table>
        <form action="/contactme" method="POST">
            <div id="name-form" class="form-input">
                <label for="th_topic">Your topic:</label> <br>
                <input id="th_topic" type="text" name="topic" class="form-control form-contactme"> <br>
            </div>
            <div id="mes-form" class="form-input">
                <label>Your message (please include your contact in this part):</label> <br>
                <textarea name="message" id="th_message" cols="30" rows="10" class="form-control form-contactme"></textarea>
            </div>
            <p></p>
            <button type="submit" name="btn" value="server" class="btn btn-primary">Send to admin</button>
            or
            <button type="submit" name="btn" value="email" class="btn btn-success">Send to my email</button>    
        </form>
    </div>
</section>    
    
<%- include("footer") %>
