<%- include("header") %>

<section class="first-section" id="edit">
  <div class="container">
    <h2>My pleasure is listening to your story. Please share with us!</h2>
    <hr>
    <div class="form">
      <form action="/edit" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">What is your story about ?</label>
          <input type="text" value="<%= th_story['title'] %>" name="th_title" class="form-control" id="title" aria-describedby="inputTitle" required>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Please tell me details of your story</label>
          <textarea class="form-control" name="th_content" id="content" rows="10" required><%= th_story['content'] %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Edit your story</button>
      </form>
    </div>
  </div>
</section>

<%- include("footer") %>