  <section id="footer">
    <div class="bottom-container">
      <a class="footer-link" href="https://www.facebook.com/pvt0107/">
        <img height="30px" width="30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Facebook-icon-1.png/480px-Facebook-icon-1.png" alt=""></a>
      <a class="footer-link" href="https://www.linkedin.com/in/pvthang1700/">
        <img height="30px" width="30px" src="https://cdn.tgdd.vn/2020/04/GameApp/unnamed-200x200-32.png" alt=""></a>
      <a href="http://zaloapp.com/qr/p/2s5ubp3lj593" class = "footer-link">
        <img height="30px" width="30px" src="https://stc-zaloprofile.zdn.vn/pc/v1/images/zalo_sharelogo.png" alt=""></a>
      <p class="copyright">© 2021 by Viet Thang Pham</p>
    </div>
  </section>  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="js/index.js"></script>
</body>
</html>